/* ==========  FEUILLE DE STYLE ============
	PLACES EDUPALU FONGWAMAA v.1.0 by © 2015 TRESOR NGASSAKI SITA(http://www.fongwama.com)
 */


body{
	font:normal 10pt verdana;
	color:#666;
	background-color:#808080;
}
#titre, #instructions, #copyr{
	width:650px;
	margin:2px auto;
	border:groove 6px black;
	padding:15px;
}

#map_canvas{
	width:650px;
	height:500px;
	margin:2px auto;
	border:groove 6px black;
	padding:15px;
}



#titre{
	margin-top:20px;
	font:bold 18pt arial;
	color:#FFF;
	text-align:center;
}
#author{
	font:normal 8pt arial;
	color:#EAEAEA;
}
#instructions{
	font:bold 12pt arial;
	color:#fcfcfc;
	font-style:italic;
	text-align:center;
}


form{border-bottom:outset 2px black;}
.ok{text-align:center;
}
.bouton{
	width:150px;
	height:24px;
	font:bold 12pt verdana,arial;
	background-color:#FFF;
	color:black;
	border:outset 2px black;
}
.bouton:hover{
	background-color:#FFF;
	color:#000;
	border:inset 2px white;
}
.bravo, .desole{
	font:bold 20pt verdana;
	color:lime;
	text-align:center;
}
.desole{color:red;}
.score{
	text-align:center;
	font:bold 14pt arial;
	color:#FFF;
	border:dashed 1px #FCFCFC;
	padding:5px 0px;
}
.noreponse{
	text-align:center;
	font:bold 9pt arial,verdana;
	color:red;
}
#comment{
	margin-top:10px;
	text-align:left;
	font:normal 9pt arial;
	color:#FFFF66;
	border:dashed 1px #FFF;
	padding:8px 5px;
}
.info{
	border:none;
	vertical-align:middle;
	margin-right:10px;
}
#copyr{
	text-align:center;
	border:none;
	padding:0px;
	font:normal 8pt verdana,arial;
	color:#FFF;
}
#copyr a{
	color:#FFF;
	font-weight:bold;
	letter-spacing:2px;
	text-decoration: none;
}
#copyr a:hover{
	text-decoration:none;
	color:blue;
}
#chrono{
	margin-left:20px;
	font:bold 12pt arial;
	color:#000;
	background-color:transparent;
	padding:3px;
	border:solid 1px black;
	text-align:center;
}
img, object  {vertical-align:middle;}

#test{

	color:#FFF;
	margin-left: 560px;
	font-size: 18px;
}
